@font-face {
   font-family: 'shorooq-n1-d36d43de3fe5a6f05b4c48480b0078da';
   src: url('shorooq-n1-d36d43de3fe5a6f05b4c48480b0078da/font.ttf');
}
@font-face {
   font-family: 'ae_Tarablus';
   src: url('ae_Tarablus/font.ttf');
}
